# Ignore everything

*

!*/

# Exclude these directories from being ignored (keep them)
!/kitty/
!/polybar/
!/nitrogen/
!/nitro/
!/i3/
!/nvim/
!/fish/

# Don't ignore .gitignore file
!.gitignore

# Ignore everything inside the directories but keep the directories
!/kitty/** 
!/polybar/** 
!/nitrogen/** 
!/nitro/**
!/i3/**
!/nvim/**
!/fish/**
